In [2]:
import pandas as pd
import numpy as np
import sklearn
import acquire
from acquire import get_zillow_data

In [3]:
df = get_zillow_data()

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (64) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [4]:
df.shape

(77579, 68)

Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property ID's), along with zestimate error and date of transaction.
Only include properties that include a latitude and longitude value.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77579 entries, 0 to 77578
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77579 non-null  int64
 1   parcelid                      77579 non-null  int64
 2   airconditioningtypeid         25007 non-null  float64
 3   architecturalstyletypeid      207 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77579 non-null  float64
 6   bedroomcnt                    77579 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49809 non-null  float64
 9   calculatedbathnbr             76963 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6037 non-null   float64
 12  calculatedfinishedsquarefeet  77378 non-null  float64
 13  finishedsquarefeet12          73923 non-null  float64
 14  finishedsquarefeet13          42 non-null     float64
 15  finishedsquarefeet15          3027 non-null   float64
 16  finishedsquarefeet50          6037 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77579 non-null  float64
 19  fireplacecnt                  8289 non-null   float64
 20  fullbathcnt                   76963 non-null  float64
 21  garagecarcnt                  25520 non-null  float64
 22  garagetotalsqft               25520 non-null  float64
 23  hashottuborspa                1539 non-null   float64
 24  heatingorsystemtypeid         49571 non-null  float64
 25  latitude                      77579 non-null  float64
 26  longitude                     77579 non-null  float64
 27  lotsizesquarefeet             69321 non-null  float64
 28  poolcnt                       16174 non-null  float64
 29  poolsizesum                   869 non-null    float64
 30  pooltypeid10                  465 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15079 non-null  float64
 33  propertycountylandusecode     77579 non-null  object
 34  propertylandusetypeid         77579 non-null  float64
 35  propertyzoningdesc            50476 non-null  object
 36  rawcensustractandblock        77579 non-null  float64
 37  regionidcity                  76107 non-null  float64
 38  regionidcounty                77579 non-null  float64
 39  regionidneighborhood          30974 non-null  float64
 40  regionidzip                   77529 non-null  float64
 41  roomcnt                       77579 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10106 non-null  float64
 44  typeconstructiontypeid        223 non-null    float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77309 non-null  float64
 49  numberofstories               17599 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77464 non-null  float64
 52  taxvaluedollarcnt             77578 non-null  float64
 53  assessmentyear                77579 non-null  float64
 54  landtaxvaluedollarcnt         77577 non-null  float64
 55  taxamount                     77574 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77332 non-null  float64
 59  logerror                      77579 non-null  float64
 60  transactiondate               77579 non-null  object
 61  airconditioningdesc           25007 non-null  object
 62  architecturalstyledesc        207 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49571 non-null  object
 65  propertylandusedesc           77579 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          223 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.8+ MB

In [8]:
new_df = df[['parcelid', 'transactiondate']]

In [10]:
new_df.shape

(77579, 2)

In [11]:
new_df.parcelid.nunique()

77381

In [13]:
max(new_df.transactiondate)

'2017-09-25'

In [17]:
new_df = new_df[new_df.groupby('parcelid')['transactiondate'].transform('max') == new_df['transactiondate']]

In [18]:
new_df.shape

(77381, 2)

In [19]:
df = df[df.groupby('parcelid')['transactiondate'].transform('max') == df['transactiondate']]

# Summary Stats

In [20]:
df.shape

(77381, 68)

In [21]:
df.describe()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,logerror
count,7.738100e+04,7.738100e+04,24953.000000,206.000000,50.000000,77381.000000,77381.000000,15.000000,49672.000000,76772.000000,...,17560.000000,172.0,7.726900e+04,7.738000e+04,77381.0,7.737900e+04,77376.000000,2886.000000,7.713700e+04,77381.000000
mean,1.495139e+06,1.300715e+07,1.813289,7.388350,679.720000,2.299130,3.053489,3.933333,6.534587,2.316867,...,1.434738,1.0,1.893145e+05,4.901345e+05,2016.0,3.010954e+05,5995.532346,14.087318,6.049673e+13,0.016625
std,8.609071e+05,3.481346e+06,2.967894,2.734542,689.703546,0.996651,1.139096,0.258199,1.721953,0.979755,...,0.544569,0.0,2.300874e+05,6.534440e+05,0.0,4.925960e+05,7622.844153,2.185663,1.535242e+12,0.170191
min,3.490000e+02,1.071186e+07,1.000000,2.000000,38.000000,0.000000,0.000000,3.000000,1.000000,1.000000,...,1.000000,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,-4.655420
25%,7.520700e+05,1.153830e+07,1.000000,7.000000,273.000000,2.000000,2.000000,4.000000,6.000000,2.000000,...,1.000000,1.0,8.426500e+04,2.070000e+05,2016.0,8.550400e+04,2715.632500,14.000000,6.037311e+13,-0.024377
50%,1.497932e+06,1.253157e+07,1.000000,7.000000,515.000000,2.000000,3.000000,4.000000,6.000000,2.000000,...,1.000000,1.0,1.364990e+05,3.589755e+05,2016.0,2.033720e+05,4450.695000,15.000000,6.037603e+13,0.006627
75%,2.240535e+06,1.421183e+07,1.000000,7.000000,796.500000,3.000000,4.000000,4.000000,8.000000,3.000000,...,2.000000,1.0,2.187870e+05,5.690015e+05,2016.0,3.667965e+05,6927.790000,15.000000,6.059042e+13,0.039203
max,2.982274e+06,1.676893e+08,13.000000,21.000000,3560.000000,18.000000,16.000000,4.000000,12.000000,18.000000,...,6.000000,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,5.262999